
.page-id-8 {
  .about-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
      color: #FFF;
      font-size: 3rem;
    }
  }

  .about-content {
    padding-top: 3rem;
    margin: 0;
    width: 800px;
    margin: 3rem auto;
    h2 {
      text-align: center;
      color: #2f1339;
      font-size: 3rem;
    }
  }

  
}
