.home {
  h2 {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 3.5rem;
    letter-spacing: 2px;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  padding-top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/home-hero.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 0;
    margin: 0;
  }
  
}
 h2 {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 3.5rem;
    letter-spacing: 2px;
}
.image-container {
      height: 75px;
    width: 75px;
    display: block;
}

