
/* Front page */

.home {
  h2 {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 3.5rem;
    letter-spacing: 2px;
  }
  .site-branding {
    background-image: url(../../images/logos/inhabitent-logo-tent-white.svg);
    border-bottom: $base_solid_border;
  }
  .main-navigation{
    a {
      color: white;
    }
  }
}

.hero {
  width: 100%;
  height: 100vh;
  padding-top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/home-hero.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 0;
    margin: 0;
  }
  
}
 
.image-container {
      height: 75px;
    width: 75px;
    display: block;
}

/* Shop Stuff */
.product-info {
  padding-bottom: 0;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
  padding: 0;
  }
  li {
    border: $base_solid_border;
    border-top-width: 5px;
    text-align: center;
    padding: 1rem .5rem;
    width: 260px;
    &:hover {
      border-color: $color_orange;
    }
  }
  img {
    width: 70px;
    margin-bottom: 1rem;
  }
  p {
    text-align: center;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
}

/* Inhabitent Journal */

.journal-feed {
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    width: 355px;
    overflow: hidden;
  }
  img {
    height: 245px;
    width: auto;
    display: block;
  }
  .post-wrap {
    border: $base_solid_border;
    border-top-width: 5px;
    padding: 1rem;
    h3 {
      margin-bottom: 1rem;
      line-height: 1.1;
    }
    p {
      font-size: .5rem;
      margin-bottom: .3rem;
    }
  }
}