/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */
.site-header {
	text-transform: uppercase;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.6);
	border-bottom: 1px solid $color__grey-border;
	
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.site-branding {
		height: 33px;
		width: 50px;
		background-image: url('../../images/logos/inhabitent-logo-tent.svg');
		background-size: cover;
		a{
			display: block;
			height: 33px;
			width: 50px;
		}
	}
}

.site-branding {
		background-image: url('../../images/inhabitent-logo-tent-white.svg');
}





.main-navigation {
	display: flex;
	align-items: center;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		display: inline-block;
		margin-right: 1.2rem;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: green;
	}


	
}



/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}


	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}


.search-field {
	display: none;
}
.show-search {
	cursor: pointer;
}
