/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.home-banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: $linear-gradient, url('../../images/home-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

// .home {
//   h2 {
//     margin-bottom: 4rem;
//     color: $color__purple-brand;
//     font-size: 2.25rem;
//     font-weight: normal;
//     text-align: center;
//   }

//   section {
//     margin-top: 4rem;
//     margin-bottom: 4rem;
//   }
// }