.widget-area {
  width: 27%;
  padding-top: 65px;
  padding-left: 50px;
  border-left: $base_solid_border;
}

.site-content{
  display:flex;
}

.widget-title h2{
  margin-bottom: 0px;
}

  .widget-title p {
    $color_green: #248A83;
  }
